.btn{
    display: inline-block;
     position: relative;
     line-height: 2em;
     padding: .5em 1em;
     text-decoration: none;
     border-radius: 1.2em;
     border: none;
     margin: .3em ;
     white-space: nowrap;
     flex:1;
     cursor: pointer;
     font-weight:bold;
  
 }