.navbar{
    display: grid;
    grid-template-columns: 2fr 1fr;
    &__collapse{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    &__item{
        background: var(--first-color);
         &.active{
              background: var(--second-color);
              .nav__link{
                  color: var(--white);
              }
         }
    }

    &__link {
        display: block;
        padding: 0.5rem 1rem;
        text-decoration: none;
        color: var(--white);
        text-align: center;
        
    }
}

.menu{
    position: fixed;
    bottom: 0;
    padding: .8rem;
    width: 100%;
    z-index: var(--z-fixed);
    border-top:1px solid white ;
    &-item{
        padding: .2rem;
        flex: 1 0;
        // width:16.66%;
        justify-content: center;
        line-height: 2;
        color: white;
        font-weight: bold;
        text-align: center;
        span{
            border: 1px solid white;
            border-radius: 50%;
            padding: .5em;
        }
    }
    &-text{
        padding: 0;
        margin: 0;
        font-size: .6rem;

    }
}