.theme{
    &--primary{
        background: var(--first-color);
        color: white;
        a{
            color: white;
        }
    }
    &--dark{
        background: var(--dark);
        color: white;
    }
}
.btn{
    &--danger{
        background:var(--danger);
        color:white;
    }
    &--default{
        background:transparent;
        border:1px solid var(--dark);
    }
    &--dark{
        background: var(--dark);
        color: white;
    }
}